@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply font-manrope;
    }

    h1 {
        @apply text-[3.5rem] leading-[3.625rem] tracking-[0.125rem];
    }

    h2 {
        @apply text-[2.5rem] leading-[2.75rem] tracking-[0.09375rem];
    }

    h3 {
        @apply text-[2rem] leading-9 tracking-[0.071875rem];
    }

    h4 {
        @apply text-[1.75rem] leading-[2.375rem] tracking-[0.125rem];
    }

    h5 {
        @apply text-2xl leading-[2.0625rem] tracking-[0.10625rem];
    }

    h6 {
        @apply text-lg leading-[1.5rem] tracking-[0.08125rem];
    }

    .over-line {
        @apply text-sm font-normal uppercase leading-[1.1875rem] tracking-[0.625rem];
    }

    .sub-title {
        @apply text-[0.8125rem] font-bold uppercase leading-[1.5625rem] tracking-[0.0625];
    }

    body {
        margin: 0;
        @apply text-[0.9375rem] font-medium leading-[1.5625rem] tracking-[0px];
    }

    body :where(h1, h2, h3, h4, h5, h6) {
        @apply font-bold uppercase;
    }

    .footer-content-areas {
        grid-template-columns: 540px auto;
        grid-template-areas:
            'logo links'
            'text social'
            'copy .';
    }
}
